/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Oct 18, 2023, 1:28:43 AM
    Author     : THINKPAD
*/
body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Đảm bảo chiều cao của màn hình là 100% */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.bg {        
    background-size: cover; /* Kéo dãn ảnh nền để vừa với toàn bộ khối */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Đặt z-index âm để nó ở phía sau */
}
.container {
    background-color: #ffffff; /* Màu nền của khung đăng nhập */
    display: flex; /* Sử dụng Flexbox để tạo hai cột bằng nhau */
    width: 800px;  
    height: 350px;  
    border-radius: 10px;
    z-index: 1; /* Đặt z-index dương để nó ở phía trước */
}

.left-side, .right-side {
    flex: 1; /* Mỗi cột chiếm một phần bằng nhau trong container */
    padding: 20px;
}

.left-side {
    background-color: #ffffff; /* Màu trắng cho cột trái */
}

.right-side {
    background-color: #FF416C; /* Màu hồng cho cột phải */
    color: #FFFFFF; /* Màu chữ trắng cho cột phải */
    flex-grow: 1; /* Làm cho khối div bên phải mở rộng để lấp đầy phần trống */               
    padding: 0 40px;
    text-align: center;    
}
button{
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}
button.right{
    background-color: transparent;
    border-color: #FFFFFF;
}
input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}
form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}
.overlay-container{
    padding-top: 50px;
}